[Unit]
Description=ModBus2KNX Gateway Daemon
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/ModBusDaemon.py
WorkingDirectory=/home/pi/.knx/modbus/

[Install]
WantedBy=multi-user.target